<ul>
    <li><a href="{{ path("pizza_order") }}">New Pizza-Order</a></li>
    <li><a href="{{ path("pizza_list") }}">Pizza Menu</a></li>
    <li><a href="{{ path("pizza_create") }}">Create new Pizza</a></li>
</ul>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>