{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - Create" %}

{% block content %}

<h1>Create a Pizza</h1>

<form method="post" action="{{ path("pizza_pizza_create") }}">
{{ form.widget }}

<input type="submit" value="Put this tasty Pizza on the menu!" />
</form>

{% endblock %}
