{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - Pizza - Create/Update" %}

{% block content %}

{% if pizza.id %}
    <h2>Updating "{{ pizza.name }}"</h2>
{% else %}
    <h2>Creating new pizza</h2>
{% endif %}

{#
// could be better to have the real path action
<form method="post" action="{{ path("acmepizza_pizza_edit", {"id": pizza.id}) }}">
#}
<form method="post" action="#">
    {{ form.widget }}
    <input type="submit" />
</form>

{% endblock %}