{% extends "AcmePizza::layout.html.twig" %}

{% block title parent() ~ " - Edit" %}

{% block content %}

<h1>Edit Pizza "{{pizza.name}}"</h1>

<form method="post" action="{{ path("pizza_edit", {"id": pizza.id}) }}">
{{ form.widget }}

<input type="submit" value="Update this tasty Pizza!" />
</form>

{% endblock %}