{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - Pizza - List" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Pizza</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for pizza in pizzas %}
        <tr>
            <td>{{pizza.name}}</td>
            <td>{{pizza.price}}</td>
            <td>
                <ul>
                    <li><a href="{{ path("acmepizza_pizza_edit", {"id": pizza.id}) }}">Edit</a></li>
                    <li><a href="{{ path("acmepizza_pizza_delete", {"id": pizza.id}) }}">Delete</a></li>
                </ul>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
