{% extends "AcmePizzaBundle::layout.html.twig" %}

{% block title parent() ~ " - List" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Pizza</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for pizza in pizzas %}
        <tr>
            <td>{{pizza.name}}</td>
            <td>{{pizza.price}}</td>
            <td><a href="{{ path("pizza_edit", {"id": pizza.id}) }}">Edit</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
